.svg-wrap > span{
    position: absolute;
    left: 150px;
    width: 300px;
    top: 200px;
    font-family: Verdana;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: rgb(121, 121, 121);
    text-align: center;
    transform: translate(0px, -50%);
}
.svg-wrap > span{
    user-select: none;
}
svg{
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 400px;
    width: 600px;
    border: 1px solid black;
}
svg > line{
    stroke:rgb(0,0,0);
    stroke-width:2;
    stroke-linecap: round;
}
.highlight{
    stroke: red;
    color: red;
}

.switch img{
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
  .clicked{
    background-color: gray;
  }
  #icon-popup {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    display: none;
    z-index: 999;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #999;
    border: 1px solid black;
  }
  #icon-popup.show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  