tr {
    height: 25%;
  }
table {
    border: 1px solid black;
  }
td {
    padding: 8px;
    text-align: center;
  }
form{
    margin-bottom: 20px;
  }
input[type="submit"] {
    margin-left: 5px;
  }
  /* Add this to your CSS to style the loading icon */
#loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
  z-index: 9999;
  display: none;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Add this to your CSS to style the active row link */
.row-link.active {
  color: red;
}
body div{
  margin: 5px;
}
.table-head-row th{
  text-align: center;
  width: calc(100% / 5);
}
body{
  background-color: #F0FFFF;
}